body {
	min-width: 400px;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	height: 62px;
	background-color:#b71c1c ;
	z-index: 4;
}

.subheader {
	background-color: #7f0000;
	position: fixed;
	top:62px;
	height: 32px;
	width: 100%;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
	z-index: 3;
}

.subheader .nav-link{
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

.subheader .navbar-nav .nav-link{
	font-size: 0.8rem;
	color: rgba(255, 255, 255, 0.83);
}

.portal-container {
	margin-top: 94px;
	width: 100%;
	min-height: calc(100vh - 148px);
	overflow: auto;
}

.footer {
	border-top: 1px solid #ddd;
	/* background-color:  #546e7a; */
	min-height: 54px;
	z-index: 2;
}

.link-light {
	color: rgba(255, 255, 255, 0.8);
}