@import 'node_modules/bootstrap/scss/bootstrap';
$primary-header-color:#ffcc33;
$secondary-header-color:#ff9900;
$header-spacer-height: 28px;
$header-height: 92px;
$subheader-height:32px;
$footer:54px;
$margin: $subheader-height+$header-height+$header-spacer-height;

body {
	min-width: 400px;
}

.header-spacer {
	position: fixed;
	top: 0;
	height: $header-spacer-height;
	background-color: $primary-header-color;
	width: 100%;
}

.header {
	position: fixed;
	width: 100%;
	top: $header-spacer-height;
	height: $header-height;
	background-color: $primary-header-color;
	/* #b71c1c */
	z-index: 4;
}

.navbar-brand {
	font-size: 2rem;
	margin-bottom:-2rem;
}

.subheader {
	background-color: $secondary-header-color;
	/* #7f0000 */
	position: fixed;
	top: $header-height + $header-spacer-height;
	height: $subheader-height;
	width: 100%;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
	z-index: 3;
}

.subheader .nav-link {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

.subheader .navbar-nav .nav-link {
	font-size: 0.8rem;
	color: rgba(0, 0, 0, 0.83);
}

.portal-container {
	margin-top: $margin;
	width: 100%;
	height: calc(100vh - #{$margin + $footer});
	overflow: auto;
}

.sidebar {
	background-color: #820707;
	min-height: calc(100vh - #{$margin + $footer}); //box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

@include media-breakpoint-up(xl) {
	.sidebar {
		max-width: 250px;
	}
	.content {
		flex-grow: 1;
		max-width: unset;
	}
}

.sidebar .nav-link {
	@extend .link-light;
}

.footer {
	border-top: 1px solid #ddd;
	/* background-color:  #546e7a; */
	min-height: $footer;
	z-index: 2;
}

.link-light {
	color: rgba(255, 255, 255, 0.85);
}